<div class="modal" id="modal-js-example">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Новая задача</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      <%= form_for :todo, url: todos_path do |form| %>
        <%#= form.collection_select :project_select, Project.order(:title), :id, :title %>
        <%= form.text_field  :text, placeholder: 'Название задачи...' %>
        <%= select("todo", "project_id", @projects.collect {|p| [ p.title, p.id ] }, { include_blank: 'Категория' }) %>

    </section>
    <footer class="modal-card-foot">
      <div class="container is-centered">
        <button class="button has-background-grey-light has-text-light">ОТМЕНА</button>
        <%= form.submit 'OK', class: "button is-info" %>
      </div>
    </footer>
    <% end %>
  </div>
</div>
