<section class="hero is-info is-small">
  <div class="hero-body">
    <nav class="navbar">
      <div class="container">

      <div class="container has-text-centered">
        <p class="title">
          Задачи
        </p>
      </div>

    </div>
          <div class="navbar-end">
            <span class="navbar-item">
              <button class="button is-black is-inverted js-modal-trigger" data-target="modal-js-example">
                +
              </button>
            </span>
          </div>
      </nav>
  </div>
</section>
