<%= render 'navbar' %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <%= render 'card' %>

    </div>
  </div>
</section>

<%= render 'modal_window' %>

<%= javascript_pack_tag 'todo' %>
